<head>
    <link rel='stylesheet' href='/stylesheets/hero.css' />
</head>

<div class="kuchtohai">

<div id="card-hoodie" class="card animate__animated animate__fadeInUp" style="--animate-delay: 0s;">
    <img src="/images/black-hoodie.jpg" alt="hoodie">
</div>

<div id="card-tshirt" class="card animate__animated animate__fadeInUp" style="--animate-delay: .3s;">
    <img src="/images/tshirt.jpg" alt="tshirt">
</div>

<div id="card-mug" class="card animate__animated animate__fadeInUp" style="--animate-delay: .2s;">
    <img src="/images/mug.jpg" alt="mug">
</div>

<div id="card-cap" class="card animate__animated animate__fadeInUp" style="--animate-delay: .9s;">
    <img src="/images/cap.jpg" alt="cap">
</div>

<div id="card-tslap" class="card animate__animated animate__fadeInUp" style="--animate-delay: .35s;">
    <img src="/images/tslap.jpg" alt="laptop sleeve">
</div>

<div id="card-drink" class="card animate__animated animate__fadeInUp" style="--animate-delay: .6s;">
    <img src="/images/drink.jpg" alt="bottle and cup">
</div>

<div id="card-sticky" class="card animate__animated animate__fadeInUp" style="--animate-delay: .65s;">
    <img src="/images/sticky.jpg" alt="sticker">
</div>

<div id="card-case" class="card animate__animated animate__fadeInUp" style="--animate-delay: .8s;">
    <img src="/images/case.jpg" alt="phone case">
</div>

<div id="card-pendrive" class="card animate__animated animate__fadeInUp" style="--animate-delay: .5s;">
    <img src="/images/pendrive.jpg" alt="pendrive">
</div>

<div id="card-smallbag" class="card animate__animated animate__fadeInUp" style="--animate-delay: .1s;">
    <img src="/images/small-bag.jpg" alt="small bag">
</div>

<div id="card-purse" class="card animate__animated animate__fadeInUp" style="--animate-delay: .4s;">
    <img src="/images/purse.jpg" alt="purse">
</div>

<div id="card-slingbag" class="card animate__animated animate__fadeInUp" style="--animate-delay: .7s;">
    <img src="/images/sling-bag.jpg" alt="sling bag">
</div>

<div id="card-notebook" class="card animate__animated animate__fadeInUp" style="--animate-delay: .95s;">
    <img src="/images/notebook.jpg" alt="notebook">
</div>

</div>
