<head>
    <link rel="stylesheet" href="/stylesheets/auth.css"
</head>

<div class="bhakas-docker">

    <div class="auth-section">
        <div class="sign-in">
        <h1 id="header-auth">Sign Into Account</h1>
        <form class="authhh">
        <input type="email" placeholder="admin" class="bhakas-holder" id="maill">
        <input type="password" placeholder="adminhunter" class="bhakas-holder" id="psdd">
        <button type="submit" id="jaadu">Enter</button>
        </form>
        </div>

    </div>

</div>
