<div class="asdfghjkl qwertyuiop">
<center>
<h1>Bhakas :<%= message %></h1>
<h2>Bhakas :<%= error.status %></h2>
<pre class="asdfghjkl">Bhakas :<%= error.stack %></pre>

<model-viewer
    src="/model/tslogo.glb"
    style="width: 100%; height: 500px;"
    auto-rotate
    rotation-per-second="30deg"
    disable-zoom
    interaction-prompt="none">
</model-viewer>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</center>
<div>
