<div class="branding">
    <a href="/">
        <h1 id="tech">
            Tech<span id="Syndicate"> Syndicate</span>
        </h1>
    </a>
</div>

<div>
    <center class="animate__animated animate__fadeInUp">
        <img src="/images/hoodie.png">
    </center>
</div>
