<div class="qwertyuiop">
    <div class="branding">
        <a href="/">
            <h1 id="tech">
                Tech<span id="Syndicate"> Syndicate</span>
            </h1>
        </a>
    </div>

    <div>
        <div id="tswashere" class="animate__animated animate__fadeInLeft">
            <h1>#tswashere</h1>
        </div>

        <center class="hoodie animate__animated animate__fadeInUp">
            <img src="/images/hoodie.png">
        </center>
    </div>
</div>
