<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : 'Tech Syndicate' %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/tslogo.png"/>
  </head>

  <body style="background-color:  rgb(22, 225, 110);">

<div class="qwertyuiop">
    <div class="branding">
        <a href="/" id="brandingg">
            <img src="/images/tslogo.png" id="tslogo">
            <h1 id="tech">
                Tech<span id="Syndicate"> Syndicate</span>
            </h1>
        </a>
        <div id="nav">
            <a href="/about" id="about">About</a>
            <a href="/shop" id="shop">Shop</a>
        </div>
    </div>
    <%- body %>
</div>
  </body>
</html>
