<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof title !== 'undefined' ? title : 'Tech Syndicate' %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: rgb(22, 22, 22);">
    <%- body %>
  </body>
</html>
