@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

.branding {
    animation: bounceInLeft 1.2s;
    padding-left: 45px;
    padding-top: 15px;
    font-size: 22px;
}

.branding a {
    text-decoration: none;
}

#tech {
    color: rgb(22, 225, 110);
}

#Syndicate {
    color: white;
    transition: color 0.3s ease;
}

.branding a:hover #Syndicate {
    color: rgb(22, 225, 110);
    transition: color 0.3s ease;
}


.qwertyuiop{
    background-color:  rgb(22, 22, 22);
    border-radius: 32px;
}

.asdfghjkl{
    font-family: "Rock 3D", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}
